In [81]:
import tweepy #https://github.com/tweepy/tweepy
import csv
import pandas as pd
import numpy as np
import sys
from textblob import TextBlob, Word
import matplotlib.pyplot as plt
%matplotlib inline
# pd.set_option('max_colwidth', 50)
# set this if you need to
import scipy as sp
from sklearn.cross_validation import train_test_split, cross_val_score
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
from nltk.stem.snowball import SnowballStemmer

In [159]:
twitter_words = pd.read_csv('candidate_twitter_words.csv')

In [160]:
twitter_words.head()

   Unnamed: 0   Word  times_used_hrc  times_used_dt
0           0     rt             728            171
1           1    for             723            551
2           2  trump             631            205
3           3     we             522            322
4           4    you             426            587

In [182]:
def hrc_word_count(x):
    z = x.lower()
    mask = twitter_words[twitter_words.Word == z].times_used_hrc
    return mask

y = 'my'
hrc_word_count(y)

33    116
Name: times_used_hrc, dtype: int64

In [183]:
def dt_word_count(x):
    z = x.lower()
    blask = twitter_words[twitter_words.Word == z].times_used_dt
    return blask

y = 'my'
dt_word_count(y)

33    231
Name: times_used_dt, dtype: int64

In [154]:
twitter_words.head()

   Unnamed: 0   Word  times_used_hrc  times_used_dt
0           0     rt             728            171
1           1    for             723            551
2           2  trump             631            205
3           3     we             522            322
4           4    you             426            587

In [ ]:
# y = 'I'

# def burp(x):
#     mask = twitter_words['Word'] == x:
#     return mask

# #this is what I was missing!!!
# burp(y)

In [131]:


for i, row in twitter_words.iterrows():
    ls = []
    if row['Word'] == x:
        ls.append(row['times_used_hrc'])
        ls.append(row['times_used_dt'])
    return ls

SyntaxError: 'return' outside function (<ipython-input-131-e4cd8fad432c>, line 8)

In [ ]:
x = twitter_words[mask].times_used_dt
z = twitter_words[mask].times_used_hrc
x

In [84]:

# def WordCount(x):
#     b = for m in n:
#         m = twitter_words(x)
#         n = twitter_words.times_used_hrc
#     if twitter_words['Word'].str.contains(x)
#         return b 
    
#tally = word.apply(WordCount)

#str.contains('Mel')

In [124]:
word = ['Trump']
df = pd.DataFrame(word)
df

       0
0  Trump

In [126]:
#z = foo['x'].where(foo['Country'] == 'USA', foo['y'])
#pd.concat([foo['Country'], z], axis=1)

df = pd.DataFrame(word)


def counter(x):
    jj = twitter_words['times_used_hrc'].where(twitter_words['Word'] == x)
    return jj
    

tally = counter(df)
tally

ValueError: Wrong number of dimensions

In [128]:
word == 'Trump'

def howdy(x):
    if twitter_words.Word.contains(x.str):
        return 1
    else:
        return 0

# tally = word.apply(howdy)

In [48]:

foo = pd.DataFrame([['USA',1,2], ['Canada',3,4],['Canada',5,6]], columns=('Country', 'x', 'y'))
foo

  Country  x  y
0     USA  1  2
1  Canada  3  4
2  Canada  5  6

In [93]:
mel_count=twitter_words['Word'].str.contains('I')
mel_count

0       False
1       False
2       False
3       False
4       False
5       False
6       False
7       False
8       False
9       False
10      False
11      False
12      False
13      False
14      False
15       True
16      False
17      False
18      False
19      False
20      False
21      False
22      False
23      False
24      False
25      False
26      False
27      False
28      False
29       True
        ...
2487    False
2488    False
2489    False
2490    False
2491    False
2492    False
2493    False
2494    False
2495    False
2496    False
2497    False
2498    False
2499    False
2500    False
2501    False
2502    False
2503    False
2504    False
2505    False
2506    False
2507    False
2508    False
2509    False
2510    False
2511    False
2512    False
2513    False
2514    False
2515    False
2516    False
Name: Word, dtype: object

In [109]:
from pandas import DataFrame

# Create data set
d = {'Revenue':[100,111,222], 
     'Cost':[333,444,555]}
df = DataFrame(d)


# mask = Return True when the value in column "Revenue" is equal to 111
mask = df['Revenue'] == 111

#print mask

# Result:
# 0    False
# 1     True
# 2    False
# Name: Revenue, dtype: bool


# Select * FROM df WHERE Revenue = 111
df[mask].Cost

1    444
Name: Cost, dtype: int64

In [95]:
df

   Cost  Revenue
0   333      100
1   444      111
2   555      222